In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [53]:
df1 = pd.read_csv('analytic_data2019.csv', low_memory=False)
xcl = pd.ExcelFile('2019_County_Health_Rankings_Data_v2.xls')

In [31]:
outcomes_fact_r = pd.read_excel(xcl, sheet_name='Outcomes & Factors Rankings')

In [38]:
outcomes_fact_r.columns = list(outcomes_fact_r.iloc[0])
outcomes_fact_r.drop([0],inplace=True)

In [39]:
outcomes_fact_r.head()

    FIPS    State   County # of Ranked Counties Rank Quartile Rank Quartile
1  01001  Alabama  Autauga                   67    7        1   11        1
2  01003  Alabama  Baldwin                   67    2        1    3        1
3  01005  Alabama  Barbour                   67   33        2   58        4
4  01007  Alabama     Bibb                   67   40        3   29        2
5  01009  Alabama   Blount                   67   22        2   16        1

In [40]:
outcomes_fact_subr = pd.read_excel(xcl, sheet_name='Outcomes & Factors SubRankings')
outcomes_fact_subr.columns = list(outcomes_fact_subr.iloc[0])
outcomes_fact_subr.drop([0],inplace=True)

In [41]:
outcomes_fact_subr.head()

,FIPS,State,County,# of Ranked Counties,Rank,Quartile,Rank,Quartile,Rank,Quartile,Rank,Quartile,Rank,Quartile,Rank,Quartile
1,01001,Alabama,Autauga,67,8,1,5,1,15,1,14,1,5,1,50,3
2,01003,Alabama,Baldwin,67,3,1,4,1,3,1,4,1,3,1,62,4
3,01005,Alabama,Barbour,67,14,1,48,3,53,4,30,2,61,4,32,2
4,01007,Alabama,Bibb,67,47,3,24,2,38,3,16,1,38,3,31,2
5,01009,Alabama,Blount,67,36,3,14,1,10,1,41,3,15,1,53,4

In [42]:
ranked_measure = pd.read_excel(xcl, sheet_name='Ranked Measure Data')
ranked_measure.columns = list(ranked_measure.iloc[0])
ranked_measure.drop([0],inplace=True)

In [44]:
ranked_measure.head()

,FIPS,State,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,YPLL Rate (Black),YPLL Rate (Hispanic),YPLL Rate (White),...,95% CI - High,Quartile,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low,95% CI - High,Quartile
1,01001,Alabama,Autauga,8824.06,7935.33,9712.79,1,10471.3,NaN,8706.66,...,88.9008,3,82.722,NaN,83.71,20911,38.3,34.3627,42.2373,3
2,01003,Alabama,Baldwin,7224.63,6794.13,7655.14,1,10042.5,3086.61,7277.78,...,86.5707,2,84.9219,68.3439,83.7991,74415,40.5,38.1835,42.8165,3
3,01005,Alabama,Barbour,9586.17,8200.12,10972.2,1,11332.6,NaN,7309.64,...,85.7693,1,80.1547,NaN,86.2453,7242,33.8,28.8672,38.7328,2
4,01007,Alabama,Bibb,11783.5,10160,13407.1,3,14812.5,NaN,11327.6,...,90.6773,3,NaN,NaN,NaN,6930,48.6,40.3108,56.8892,4
5,01009,Alabama,Blount,10908.1,9895.58,11920.6,3,NaN,5619.65,11336,...,88.8468,3,NaN,81.7672,83.4145,18426,59.7,55.4807,63.9193,4

In [45]:
add_measure = pd.read_excel(xcl, sheet_name='Additional Measure Data')
add_measure.columns = list(add_measure.iloc[0])
add_measure.drop([0],inplace=True)

In [47]:
add_measure.head()

,FIPS,State,County,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (Black),Life Expectancy (Hispanic),Life Expectancy (White),# Deaths,...,% Hispanic,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low,95% CI - High,% Female,# Rural,% Rural
1,01001,Alabama,Autauga,76.3306,75.5541,77.1071,74.6006,NaN,76.3372,815,...,2.85745,41336,74.4739,430,0.828548,0.422472,1.23462,51.3422,22921,42.0022
2,01003,Alabama,Baldwin,78.5995,78.2084,78.9906,75.6289,98.0399,78.537,2827,...,4.5502,176582,83.0474,872,0.454512,0.282144,0.62688,51.4528,77060,42.2791
3,01005,Alabama,Barbour,75.7795,74.6394,76.9196,74.2402,NaN,77.5684,451,...,4.20657,11613,45.9557,297,1.19927,0.580536,1.81801,47.2299,18613,67.7896
4,01007,Alabama,Bibb,73.9283,72.6246,75.2319,72.2947,NaN,74.1095,445,...,2.63808,16842,74.2986,84,0.394348,0,0.933361,46.4531,15663,68.3526
5,01009,Alabama,Blount,74.5978,73.811,75.3845,NaN,78.5771,74.0982,1050,...,9.5651,50439,86.9443,1013,1.87,1.36418,2.37583,50.6886,51562,89.9515

In [50]:
add_measure.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3142 entries, 1 to 3142
Columns: 111 entries, FIPS to % Rural
dtypes: object(111)
memory usage: 2.7+ MB

In [56]:
df1.drop([0],inplace=True)
df1.head()

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Release Year,County Ranked (Yes=1/No=0),Premature death raw value,Premature death numerator,Premature death denominator,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
1,00,000,00000,US,United States,2019,NaN,6900.630354,3745538,908266078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01,000,01000,AL,Alabama,2019,NaN,9917.2328984,80440,13636816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01,001,01001,AL,Autauga County,2019,1,8824.0571232,815,156132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01,003,01003,AL,Baldwin County,2019,1,7224.6321603,2827,576496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01,005,01005,AL,Barbour County,2019,1,9586.165037,451,72222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3194 entries, 1 to 3194
Columns: 534 entries, State FIPS Code to Population growth raw value
dtypes: object(534)
memory usage: 13.0+ MB

In [90]:
life_exp = add_measure[['FIPS','State','County','Life Expectancy']]
life_exp.head()

    FIPS    State   County Life Expectancy
1  01001  Alabama  Autauga         76.3306
2  01003  Alabama  Baldwin         78.5995
3  01005  Alabama  Barbour         75.7795
4  01007  Alabama     Bibb         73.9283
5  01009  Alabama   Blount         74.5978

In [138]:
factors = ranked_measure[['FIPS',
                         '% Fair/Poor','Physically Unhealthy Days','Mentally Unhealthy Days',
                         '% LBW', '% Smokers', '% Obese', 'Food Environment Index',
                         '% Physically Inactive', '% With Access', '% Excessive Drinking',
                         '% Alcohol-Impaired','Chlamydia Rate', 'Teen Birth Rate', '% Uninsured',
                          'Dentist Rate', 'Dentist Ratio', 'MHP Rate',
                         'MHP Ratio', 'Preventable Hosp. Rate', '% Screened', '% Vaccinated',
                         'Graduation Rate', '% Some College', '% Unemployed', '% Children in Poverty',
                          'Income Ratio', '% Single-Parent Households', 'Association Rate',
                          'Injury Death Rate', 'Average Daily PM2.5',
                         'Presence of violation', '% Severe Housing Problems','% Drive Alone',
                         '% Long Commute - Drives Alone']]

In [139]:
print('Factors shape:', factors.shape)
print('Life Expectancy shape:', life_exp.shape)

Factors shape: (3142, 35)
Life Expectancy shape: (3142, 4)

In [140]:
df_merged = life_exp.merge(factors, how='left',on='FIPS')

In [142]:
df_merged.dropna(subset=['Life Expectancy'], inplace=True)
df_merged.drop(['MHP Rate', 'MHP Ratio'],axis=1, inplace=True)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3073 entries, 0 to 3141
Data columns (total 36 columns):
FIPS                             3073 non-null object
State                            3073 non-null object
County                           3073 non-null object
Life Expectancy                  3073 non-null object
% Fair/Poor                      3073 non-null object
Physically Unhealthy Days        3073 non-null object
Mentally Unhealthy Days          3073 non-null object
% LBW                            3029 non-null object
% Smokers                        3073 non-null object
% Obese                          3073 non-null object
Food Environment Index           3054 non-null object
% Physically Inactive            3073 non-null object
% With Access                    3068 non-null object
% Excessive Drinking             3073 non-null object
% Alcohol-Impaired               3051 non-null object
Chlamydia Rate                   2974 non-null object
Teen Birth Rate                  2992 non-null object
% Uninsured                      3073 non-null object
Dentist Rate                     2988 non-null object
Dentist Ratio                    2988 non-null object
Preventable Hosp. Rate           3057 non-null object
% Screened                       3061 non-null object
% Vaccinated                     3062 non-null object
Graduation Rate                  2999 non-null object
% Some College                   3073 non-null object
% Unemployed                     3073 non-null object
% Children in Poverty            3073 non-null object
Income Ratio                     3073 non-null object
% Single-Parent Households       3073 non-null object
Association Rate                 3073 non-null object
Injury Death Rate                3031 non-null object
Average Daily PM2.5              3044 non-null object
Presence of violation            3031 non-null object
% Severe Housing Problems        3073 non-null object
% Drive Alone                    3073 non-null object
% Long Commute - Drives Alone    3073 non-null object
dtypes: object(36)
memory usage: 888.3+ KB

In [143]:
df_merged.isna().sum()

FIPS                              0
State                             0
County                            0
Life Expectancy                   0
% Fair/Poor                       0
Physically Unhealthy Days         0
Mentally Unhealthy Days           0
% LBW                            44
% Smokers                         0
% Obese                           0
Food Environment Index           19
% Physically Inactive             0
% With Access                     5
% Excessive Drinking              0
% Alcohol-Impaired               22
Chlamydia Rate                   99
Teen Birth Rate                  81
% Uninsured                       0
Dentist Rate                     85
Dentist Ratio                    85
Preventable Hosp. Rate           16
% Screened                       12
% Vaccinated                     11
Graduation Rate                  74
% Some College                    0
% Unemployed                      0
% Children in Poverty             0
Income Ratio                      0
% Single-Parent Households        0
Association Rate                  0
Injury Death Rate                42
Average Daily PM2.5              29
Presence of violation            42
% Severe Housing Problems         0
% Drive Alone                     0
% Long Commute - Drives Alone     0
dtype: int64

In [145]:
aa = df_merged.dropna()
aa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2734 entries, 0 to 3141
Data columns (total 36 columns):
FIPS                             2734 non-null object
State                            2734 non-null object
County                           2734 non-null object
Life Expectancy                  2734 non-null object
% Fair/Poor                      2734 non-null object
Physically Unhealthy Days        2734 non-null object
Mentally Unhealthy Days          2734 non-null object
% LBW                            2734 non-null object
% Smokers                        2734 non-null object
% Obese                          2734 non-null object
Food Environment Index           2734 non-null object
% Physically Inactive            2734 non-null object
% With Access                    2734 non-null object
% Excessive Drinking             2734 non-null object
% Alcohol-Impaired               2734 non-null object
Chlamydia Rate                   2734 non-null object
Teen Birth Rate                  2734 non-null object
% Uninsured                      2734 non-null object
Dentist Rate                     2734 non-null object
Dentist Ratio                    2734 non-null object
Preventable Hosp. Rate           2734 non-null object
% Screened                       2734 non-null object
% Vaccinated                     2734 non-null object
Graduation Rate                  2734 non-null object
% Some College                   2734 non-null object
% Unemployed                     2734 non-null object
% Children in Poverty            2734 non-null object
Income Ratio                     2734 non-null object
% Single-Parent Households       2734 non-null object
Association Rate                 2734 non-null object
Injury Death Rate                2734 non-null object
Average Daily PM2.5              2734 non-null object
Presence of violation            2734 non-null object
% Severe Housing Problems        2734 non-null object
% Drive Alone                    2734 non-null object
% Long Commute - Drives Alone    2734 non-null object
dtypes: object(36)
memory usage: 790.3+ KB